/* Experiencia Académica*/

section.academic {
    background-color: var(--color-bg-container);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.academic__title{
    font-weight: bold;
    text-align: center;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    padding: 0;

}

.academic__courses__item__img{
    background-color: var(--color-bg-box);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.academic__courses__item__img img{
    width: 35%;
    max-height: 63px;

}

.academic__courses__item__title{
    font-weight: bold;
}

.academic__courses__item__title h4{
    margin: 0.8rem 0 0.2rem 0;

}

.academic__courses__item__subtitle{
    font-size: 14px;

}
.academic__courses__item__subtitle p{
    margin-top: 0.5rem;
}



/*Mobile*/
@media (min-width: 0px) {

    .academic__box{
    width: 156px;
    height: 118px;
}

}


/*Tablet*/
@media (min-width: 768px) {
    .academic__courses{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .academic__courses__box{
        padding-right: 1rem;

    }
    .academic__box{
         width: 300px;

    }

    .academic__courses__list{
        padding: 0;

    }
    .academic__courses__item__img{
    padding: 1rem;
    }

    .academic__courses__item__title h4{
        margin: 1rem 0 0;
    }

    .academic__courses__item__subtitle p{
        margin: 1rem 0;
    }

}


/*PC*/
@media (min-width: 1000px) {
    .academic__courses__box{
            width: 368px;

    }
    .academic__courses__item__img{
        padding: 78px 88px;

    }
    .academic__courses__item__img img{
        width: 100%;
    }
}