/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Te dejaremos con los conceptos básicos para restablecer estilos. Si quieres añadir más información
colocar en las secciones indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Esfuércese por trabajar con variables, es un valioso consejo profesional*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --color-fuente-gris-oscuro: #464646;
    --color-bg-about: #EAF2FD;
    --color-bg-box: #ffffff;
    --color-buttom: #2A7AE4;
    --color-font-ligth-gray:#A2A2A2


}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/* Mobile First */

body {
    background-color: var(--cor-de-fundo);
}
section{
    padding: 1% 4.5%;

}

/*Sección Menu*/

section.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__header {
    display: flex;
    /* padding: 4px 1px; */
    align-items: center;
}

.menu-imagen {
    align-items: center;
    display: flex;
    justify-self: center;
    padding-right: 0.5rem;
}

.menu__title {
    color: var(--color-fuente-gris-oscuro);
    font-weight: bold;
}

.menu__list__item__contato a{
    color: var(--color-fuente-gris-oscuro);
}

/*Sección Title*/

.title__bio {
    font-weight: bold;
}

.title__subsection{
    color: var(--color-fuente-gris-oscuro);
    font-size: 0.9rem;
}

.title__network{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    list-style: none;
    padding: 0 1rem 0 0;
}

/*Sección About*/

section.about {
    background-color: var(--color-bg-about);
}

.about__paragraph{
    color: var(--color-fuente-gris-oscuro);
}

/*Sección Skills*/

.skills__title{
    text-align: center;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__box{
    display: flex;
    width: 156px;
    height: 118px;
    margin: 2rem 0 0;
    background-color: var(--color-bg-box);
    align-items:end;
    justify-content: space-between;
}

.skills__name{
    color: var(--color-fuente-gris-oscuro);
    margin: 0.5rem 0 0 0;
}

/*Sección Hobbies*/

.hobbies__title{
    text-align: center;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hobbies__box{
    display: flex;
    width: 156px;
    height: 118px;
    margin: 2rem 0 0;
    background-color: var(--color-bg-box);
    align-items:end;
    justify-content: space-between;
}

.hobbies__name{
    color: var(--color-fuente-gris-oscuro);
    margin: 0.5rem 0 0 0;
}
/* Experiencia Académica*/

section.academic {
    background-color: var(--color-bg-about);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.academic__title{
    font-weight: bold;
    text-align: center;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
    padding: 0;

}

.academic__courses__item__img{
    background-color: var(--color-bg-box);
    width: 296px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.academic__courses__item__img img{
    width: 35%;
}

.academic__courses__item__title{
    font-weight: bold;
}

.academic__courses__item__title h4{
    margin: 0.8rem 0;
}

.academic__courses__item__subtitle{
    color: var(--color-fuente-gris-oscuro);
}

/* experiencia*/

/* section.experience {} */

.experience__section__title{
    font-weight: bold;
    text-align: center;
}

.experience__img{
    width: 100%;
}

.experience__title{
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-fuente-gris-oscuro);
    /* margin-top: 0; */
}

.experience__text{
    font-size: 0.7rem;
    color: var
    var(--color-fuente-gris-oscuro);
    margin: 0.7rem 0;
    /* margin-top: 0; */
    font-weight: 100;
}

.experiencia__botao--repo{
    background-color: var(--cor-de-fundo);
    border: 1px var(--color-buttom) solid;
    padding: 0.7rem;
    margin-right: 0.8rem;
    color: var(--color-buttom);
}

.experience__botao--demo{
    color: var(--cor-de-fundo);
    border: 1px var(--color-buttom) solid;
    padding: 0.7rem;
    background-color: var(--color-buttom);
}

/*Contacto*/

section.formcontato {
    background-color: var(--color-bg-about);
    color: var(--color-fuente-gris-oscuro);
}

.formcontato__contacto{
    font-size: 75%;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
}

.formcontato__input{
    margin-bottom: 1rem;
    border: 0;
    height: 56px;
    color: var(--color-font-ligth-gray);
}

.formcontato__textarea{
    border: 0;
}

.formcontato__botao{
    color: var(--cor-de-fundo);
    border: 1px var(--color-buttom) solid;
    padding: 0.7rem;
    background-color: var(--color-buttom);
    width: 40%;
    margin: 2rem 0;
}

/*footeer*/

section.footer {
    background-color: var(--color-bg-box);
    color: var(--color-fuente-gris-oscuro);
    text-align: center;
    font-size: 0.8rem;
    padding: 2rem
}
.footer__rodape p{
    padding: 0;
    margin:  0 0 0;

}


/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Mobile*/
@media (min-width: 0px) {

    /* Menú */

    .menu__list{
        display: none;
    }

    /*title*/
        .title__profile{
            width: 27%;
        }
    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    .formcontato--esquerda{
        display: none;
    }

}


/*Tablet*/
@media (min-width: 768px) {

    /* Menú */

    .menu__header {
        display: flex;
        /* width: 20%; no en MF */
    }
    .menu-imagen {
        width: 20px;
        height: 20px;
    }

    .menu__list {
        display: flex;
        justify-content: space-between;
        width: 653px;
    }
    /* .menu__list__item__contato{
        display: block; 
    }*/

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

}

/*PC*/
@media (min-width: 1000px) {

    /*Menu*/

    /*Titulo*/

    /*Sección sobre mi*/

    /*Skills*/

    /*Hobbies*/

    /*Formación Académica*/

    /*Experiencia Profesional*/

    /*Contacto*/

    /*Footer*/

}